.cart-menu{
    position: fixed;
    top: 120px;
    right: 25px;
    background-color: rgb(170, 170, 170);
    width: 400px;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 15px;
}

.cart-menu__arrange{
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.cart-menu__total-price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
