.cart-block{
    display: flex;
    align-items: center;
    position: relative;
}
.cart-block__total-price{
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}
.cart-block__icon{
    font-size: 25px;
    cursor: pointer;
    position: relative;
}
.cart-block__icon:hover{
    color: #00aea9;
}
.heart-block__icon{
    font-size: 25px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    color: black;
}
.heart-block__icon:hover{
    color: #00aea9;
}
.info-cart{
    width: 25px;
    height: 200px;
    position: fixed;
    top: 120px;
    right: 0;
    background-color: #00aea9;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 20px;
}
.info-cart:hover{
    background-color: #00a09b;
}