.home-page{
    display: flex;
    flex-wrap: wrap;
}
.kind{
    position: fixed;
  left: 1231px;
  background-color: #00aea9;
  top: 321px;
  border: none;
  color: white;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}
.kind:hover{
background-color: #00a09b;
}