.btn{
    margin-top: 15px;
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-left: 15px;
}
.btn:hover{
    background-color: #00a09b;
    color: white;
}

.btn--primary{
    background-color: #00aea9;
}
.btn--secondary{
    width: 40%;
    background-color: #00aea9;
}
.btn--incart{
    width: 60%;
    height: 75%;
    color: black;
}

.btn--small{
    font-size: 14px;
}
.btn--medium{
    font-size: 18px;
}
.btn--submit{
    width: 265px;
    height: 35px;
    background-color: #00a09b;
}