.order-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.order__error{
    margin-top: -1px;
    margin-left: 20px;
    color: red;
    font-size: 10px;
}
.order__input{
    height: 30px;
    width: 240px;
}
.order__inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.order-form{
    width: 400px;
    height: 500px;
    background-color: white;
}


.order-btn{
    width: 265px;
    height: 35px;
    background-color: #00a09b;
    margin-top: 25px;
}
.order-h1{
    color: black;
    font-size: 22px;
}
.order-h3{
    color: black;
    font-size: 16px;
}
.order-h{
margin-top: 15px;
margin-left: 25px;
}