.products {
  display: flex;
  flex-wrap: wrap;
}
.product-item {
  text-decoration: none;
  color: white;
  width: 330px;
  height: 370px;
  background-color: rgb(192, 192, 192);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item:not(:last-child) {
  margin-bottom: 30px;
  margin-right: 50px;
}

.product-item__img {
  margin-top: 20px;
  width: 170px;
  height: 185px;
}

.product-item__name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.product-item__article {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.product-item__price {
  margin-top: 10px;
}
.product-item__buy {
  position: relative;
  right: 0;
  bottom: -12px;
}
.lover-product-icon {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 330px;
  left: 280px;
}
