.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s;
    z-index: 999;
}
.modal-wrapper{
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
min-height: 100%;
}
.modal-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    background-color: white;
    padding: 40px 20px 20px 20px;
    transform: translateY(-50px);
    transition: opacity 0.3s, transform 0.3s;
}
.cart-block__icon{
    color: black;
}
.modal-close-button{
    position: absolute;
    top: 16px;
    right: 16px;
     width: 30px;
    height: 30px; 
     padding: 0;
     color: black;
}
.modal-btn{
    
        margin-right: 52px;
    margin-top: 15px;
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    margin-left: 55px;
    background-color: #00aea9;
}
.modal-btn:hover{
    background-color: #00a09b;
}
