.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.wrapper{
    display: flex;
    flex-grow: 1;
}
.header__store-title{
    color: #00aea9;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.header__store-title:hover{
    color: #00a09b;
}
.header__cart-btn-wrapper{
    justify-content: flex-end;
    
}